package wikipages

import "web/utils"

templ WikiEntryContent(page utils.Page) {
    <div id="entry" class="prose prose-lg dark:prose-dark w-full md:max-w-3xl lg:max-w-4xl xl:max-w-5xl md:ml-24 lg:ml-32 xl:ml-40 px-4 sm:px-6 lg:px-8 py-8 md:border-l-4 md:border-neutral-200 md:dark:border-neutral-700">
        @templ.Raw(utils.ToMarkdown(page.Content))
    </div>
}

