package wikipages

import "web/utils"

templ WikiEntryContent(page utils.Page) {
    <div  class="prose prose-lg dark:prose-dark max-w-none px-4 sm:px-6 lg:px-8 py-8">
        @templ.Raw(utils.ToMarkdown(page.Content))
    </div>
}

